@import 'Animations';
@import 'Colors';

$background-color: rgb(40, 40, 40);
$border-color: 		 rgb(36, 36, 36);
$timestamp-color:  rgba(240, 240, 240, 0.6);

.highlighted {
  background-color: rgb(37, 37, 37) !important;
}

.command {
  font-style: italic;
  color: rgba(240, 240, 240, 1) !important;
  margin-left: 0em !important;
}

.Message {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  background-color: rgb(35, 35, 35);
  padding-bottom: 0.15em;

  font-weight: bold;

  overflow: hidden;

  .Timestamp {
    display: flex;
    color: $timestamp-color;
    font-size: 0.8em;
    padding-left: 0.25em;
    padding-right: 0.5em;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  .Content {
    margin-left: 0.2em;
    margin-right: 0.5em;
    display: flex;
    flex: 1;
  }

  .popout {
    display: flex;
    position: absolute;
    right: 0;
  }

  .row {
    display: flex;
    align-items: flex-start;
  }

  .Popup {
    border: 1px solid rgb(48, 48, 48);
    font-size: 0.75em;
    margin-right: 0.5em;
    color: rgba(228, 228, 228, 0.8);
    background: rgb(32, 32, 32);
    padding: 1.0em;
  }

  .Avatar {
    width: 2.25rem;
    height: 2.25rem;
    margin: 0em 0.25em 0em 0.5em;
    margin-top: 0.1em;
    background-color: rgba(255, 255, 255, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.25em;
    font-family: "LatoBold";
    color: rgb(95, 95, 95);

    // background-image: url('../images/earth.png') cover;
    // background-size: cover;
    // background-repeat: no-repeat;
  }
}

.User {
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
  padding-left: 0.5em;
  cursor: pointer;
  user-select: none;
}

.TextMessage {
  padding-left: 0.3em;
  padding-right: 0.3em;
  display: flex;
  flex: 1 0;
  align-items: center;

  color: rgb(196, 196, 190);

  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  a {
    color: rgba(128, 196, 255, 0.8);
    text-decoration: none;
  }

  a:hover {
    color: rgba(128, 196, 255, 1);
    text-decoration: none;
  }

  img {
    vertical-align: bottom;
  }

  .content2 {
    width: 100%;
  }

  .highlight {
    font-weight: bolder;
    color: rgba(240, 96, 96, 1);
  }
}

.loading {
  color: rgba(240, 244, 240, 0.1);
}

.textAnimation-appear {
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
